SITE_URL=https://starkmeta.net
FAL_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
RAILWAY_TOKEN=
SQUIDEX_URL=https://cloud.squidex.io
SQUIDEX_APP=starkmeta
SQUIDEX_CLIENT_ID=starkmeta:default
SQUIDEX_CLIENT_SECRET=
